
body {
    background-color: #000000;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}


.grid {
    display: flex;
    margin: auto;
    border: 1px solid #ffffff;
    width: 90%;
    height: 50%;
    background: #000000;
    flex-wrap: wrap;
}

.grid div {
    display: block;
    padding: 5px;
    border: 1px solid #ffffff;
    width: calc(100% / 23);
    height: calc(100% / 16);
    background: #0000ff;
}

@media screen and (min-width: 768px) {
    .grid {
        width: 70em;
        height: 50em;
    }

    .grid div {
        width: 25px;
        height: 25px;
    }
}


#cell.invader {
    display: block;
    width: 25px;
    height: 25px;
    background: #ffff00;
}


.object {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #ffff00;
}

