
body {
    background-image: linear-gradient( 135deg, #8a1da2 10%, #400760 100%);
    color: #ffffff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.under-parent {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 20px;
    width: 600px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    border: 2px solid #ffffff;
    margin-bottom: 30px;
}

.stats {
    margin: 0 auto;
    padding-top: 10px;
    margin-top: 20px;
    border-radius: 20px;
    width: 600px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    border: 2px solid #ffffff;
    margin-bottom: 30px;
}

.parent {
    width: 90%;
}

.grid {
    display: flex;
    float: right;
    margin-right: 10%;
    border: 1px solid #ffffff;
    width: 640px;
    height: 380px;
    background: #000000;
    flex-wrap: wrap;
}

.grid div {
    display: block;
    border: 1px solid rgba(0, 0, 0, 0);
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, 0);
}

div .boom {
    background-image: url('../ressources/boom_1.png');
    background-position: center;
    background-size: cover;
}

div .invader_bullet {
    background-image: url('../ressources/invader_lazer.png');
    /* transform: rotate(90deg); */
    background-position: center;
    background-size: cover; 
}

div .player {
    width: 30px;
    height: 30px;
    background-image: url('../ressources/ship.png');
    background-position: center;
    background-size: cover;
}

div .invader {
    width: 30px;
    height: 30px;
    background-image: url('../ressources/main.gif');
    background-position: center;
    background-size: cover;
}


.button {
    font-family: Bahnschrift;
    ;
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 500ms;
}


.button:hover {
    color: #fff;
    background-color: #000;
    transition: 200ms;
}

div .bullet {
    background-image: url('../ressources/lazer.png');
    /* transform: rotate(-90deg); */
    background-position: center;
    background-size: cover;
}

.score-table {
    float: left;
    margin-left: 20%;
    border: 2px solid #ffffff;
    border-radius: 20px;
    width: 300px;
    max-height: 480px;
    padding: 10px;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 20px #ffffff;
}

.score-table h2 {
    text-align: center;
    font-size: 24px;
    margin-top: 0;
    color: #ffffff;
}

#scoreList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #ffffff;
}

#scoreList li {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ffffff;
    border-radius: 10px;
}

.GameOverTitle {
    font-size: 50px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    color: #000;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    display: none;
  }
  
  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
  }
  
  .popup h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .popup p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #000;
  }
  
  .popup button {
    font-size: 1.2em;
    background-color: #00ccff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  