
body {
    background-color: #000000;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}


.grid {
    display: flex;
    margin: auto auto;
    border: 1px solid #ffffff;
    width: 70em;
    -webkit-column-width: 70em;
    height: 50em;
    -webkit-column-height: 50em;
    background: #000000;
    flex-wrap: wrap;
}

.grid div {
    display: block;
    padding: 5px;
    border: 1px solid #ffffff;
    width: 25px;
    height: 25px;
    background: #0000ff;
}

#cell.invader {
    display: block;
    width: 25px;
    height: 25px;
    background: #ffff00;
}


.object {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #ffff00;
}

